
.main-pricevalue {
  text-align: right;
}

.main-delete {
  width: 100%;
}

.main-delete-text {
  font-size: 12px;
  color: #26c6da;
  float: right;
}

.main-delete-text:hover {
  text-decoration: underline;
  color: #cddc39;
  cursor: pointer;	
}

.main-total-text {
  text-align: right;	
}

.main-total-value {
  text-align: right;	
}