<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>
    
<!--     <div class="techs" layout-align="center">
      <md-card ng-repeat="storeItem in main.storeItems">
        <md-card-content ng-click="main.goToProductDetails(storeItem.pid)">
          <img class="pull-right" ng-src="{{storeItem.image}}" alt="{{ storeItem.title }}">
          <h3 class="md-title" ng-bind-html="storeItem.display">{{ storeItem.display }}</h3>
        </md-card-content>
        <div class="md-action-buttons">
        </div>
      </md-card>
    </div> -->
    <div ui-view></div>
  </md-content>



</div>
