<div layout="vertical" layout-fill>

  <md-content layout-fill>
    <header>
      <fs-navbar cart-count="main.getCartTotal()"></fs-navbar>
    </header>
    
    <div ui-view></div>
  </md-content>

  <!-- Cart implementation using md-sidenav -->

  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Cart</h1>
    </md-toolbar>
    <md-content layout-padding="">

      <md-list-item ng-repeat="item in main.cart" layout="column" class="main-row">
        <div layout="row" layout-align="center center" layout-fill class="main-row-container">
          <div flex="60" ng-bind-html="::item.name"> </div>
          
          <md-input-container flex="20" class="md-block" ng-if="item.quantityEditable">
            <label>Quantity</label>        
            <input ng-model="item.quantity" type="number" min="1" step="1">
          </md-input-container>

          <md-input-container flex="20" class="md-block" ng-if="!item.quantityEditable">
            <label>Quantity</label>        
            <input class="main-input-fixed" ng-model="::item.quantity" type="number" readonly>
          </md-input-container>

          <!-- <div class="md-block" flex="20" ng-if="!item.quantityEditable">{{::item.quantity}}</div> -->

          <div class="main-pricevalue" flex="20">{{::item.pricevalue | currency: "$"}}</div>            
        </div>
        <div class="main-delete" layout="row" layout-align="end center">
          <div class="main-delete-quantity-fixed" ng-if="::!item.quantityEditable" flex="70"> Quantity not editable </div>
          <div class="main-delete-text" ng-click="main.deleteItem($index)" flex="30"> Delete </div>
        </div>
      </md-list-item>
        
      <md-list-item layout-align="center center" layout="row">        
        <div flex="60" class="main-total-text">Total : </div>              
        <div flex="40" class="main-total-value">{{main.getTotal() | currency: "$"}}</div>        
      </md-list-item>      

      <md-button ng-click="main.closeSidenav()" class="md-primary">
        Close Cart
      </md-button>
    </md-content>

  </md-sidenav>

</div>
