<div layout="vertical" layout-fill>

  <md-content layout-fill>
    <header>
      <acme-navbar cart-count="main.getCartTotal()"></acme-navbar>
    </header>
    
    <div ui-view></div>
  </md-content>

  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Cart</h1>
    </md-toolbar>
    <md-content layout-padding="">



      <md-list-item ng-repeat="item in main.cart" layout="column">
        <div layout="row" layout-align="center center">
          <div flex="60">{{item.name}}</div>
          
          <md-input-container flex="20" class="md-block">
            <label>Quantity</label>        
            <input ng-model="item.quantity" type="number" min="1" step="1">
          </md-input-container>  

          <div flex="20">{{item.pricevalue}}</div>            
        </div>
        <md-button flex="20">
          <div ng-click="main.deleteItem($index)"> Delete </div>
        </md-button>
      </md-list-item>
        <div layout-align="end center" layout="row">
          <div flex="40">Total : {{main.getTotal()}}</div>
        </div>
      <md-list-item>
      </md-list-item>
<!--       <form>
        <md-input-container>
          <label for="testInput">Test input</label>
          <input type="text" id="testInput" ng-model="data" md-autofocus="">
        </md-input-container>
      </form> -->
      

      <md-button ng-click="main.closeSidenav()" class="md-primary">
        Close Cart
      </md-button>
    </md-content>

  </md-sidenav>

</div>
