<md-content layout-fill> 
  <div layout-align="center">
    <md-card>
      <md-card-content>        
        <img class="productDetails-img" ng-src="{{vm.item.image}}">
        <div class="md-title" ng-bind-html="vm.item.display"></div>
        <p>{{::vm.item.description.full}}</p>
        <div class="productDetails-price">{{::vm.item.price}}</div>      
      </md-card-content>
      <div class="md-action-buttons">      
        <md-button class="productDetails-button" ng-click="vm.addToCart(vm.item.display, vm.item.quantity,
         vm.item.priceValue, vm.item.quantityEditable)">{{::vm.item.description.action}}</md-button>
      </div>

      <div ng-if="::vm.item.items" layout-align="start center" layout-fill>
        <fs-list-item flex="100" ng-repeat="storeItem in vm.item.items" layout-fill> </fs-list-item>
      </div>

    </md-card>
  </div>

  
</md-content>
