
<fs-list></fs-list>
<!-- <div class="products" layout-align="center center">
  <md-card ng-repeat="storeItem in list.storeItems">
    <md-card-content ng-click="list.goToProductDetails(storeItem.pid)" layout="row">
      <div flex="35" class="products-img">
        <img class="pull-left" ng-src="{{storeItem.image}}" alt="{{ storeItem.title }}" >
      </div>
      <div flex="65" layout="column" layout-align="space-between start">
        <div flex= "20" class="md-title" ng-bind-html="storeItem.display">
        </div>
        <div flex="70" class="products-item-summary">
          {{ ::storeItem.description.summary }}
        </div>
        <div flex="10" class="products-item-price">
          {{ ::storeItem.price }}
        </div>
      </div>
    </md-card-content>
    <div class="md-action-buttons">
    </div>
  </md-card>
</div> -->